/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(214, 196, 29);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 45px 65px;
  background-color: #fff;
  display: table;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(151, 151, 151);
}
h2 {
  color: rgb(214, 196, 29);
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 4px solid rgb(214, 196, 29);
}
ul,
li {
  list-style-type: none;
}

li {
  position: relative;
  margin: 10px 0;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 5px;
  background-color: transparent;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  transform: translateY(-50%);
  border-radius: 35px;
  border: 2px solid rgb(214, 196, 29);
  transition: 0.5s;
}
li:hover::before {
  width: 100%;
  background-color: rgb(214, 196, 29);
  transition: 0.5s;
}
li:hover p {
  color: #fff;
}
li:hover::after {
  border-color: #fff;
  transition: 0.5s;
  left: 24px;
  transform: rotate(45deg) translateY(-50%) scale(1.45);
}
li:after {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 10px;
  top: 50%;
  box-sizing: border-box;
  transform: rotate(45deg) translateY(-50%);
  border-top: 2px solid rgb(214, 196, 29);
  border-right: 2px solid rgb(214, 196, 29);
  transition: 0.5s;
}
li p {
  z-index: 99;
  font-size: 22px;
  font-weight: normal;
  transition: 0.5s;
}
